<h3 class="text-center my-5">Students</h3>
<a routerLink="/createstudent" >Create Student</a>
<br/><br/>
<table class="table table-sm table-hover">
    <thead>
       <tr>
         <th class="text-bg-secondary p-3">Id</th>
         <th class="text-bg-secondary p-3">Name</th>
         <th class="text-bg-secondary p-3">Phone</th>       
         <th class="text-bg-secondary p-3">Email</th>       
         <th class="text-bg-secondary p-3"></th>       
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students"  (click)="showStudentDetail(student.id)" >      
            <td >{{student.id}}</td>        
            <td>{{student.lastName}} {{student.firstName}}</td>      
            <td>{{student.phone}}</td>
            <td>{{student.email}}</td>
            <td>
                <button class="btn btn-primary btn-sm  m-2" (click)="updateStudent(student.id)">Update</button>
                <button class="btn btn-danger  btn-sm"  (click)="deleteStudent(student.id)">Delete</button>
            </td>
          </tr>       
    </tbody>
</table>







