<p class="text-center h5" >{{pageTitle}}</p>
@if(errorMessage != '')
{
   <div  class="text-danger text-center">
      {{errorMessage}}
   </div>
}
@else { 
    <form (ngSubmit)="onSubmit()"  class="border rounded p-4 w-90 mb-5 mx-auto">
      
        <div class="formHeader">
           @if(formAction == 'detail')
           {
             <button class="btn btn-light headerButton" type="button" (click)="navigateBack()">Go Back</button>
             <button class="btn btn-light headerButton" type="button" >Update</button>
           }
           @else {
             <button class="btn btn-success headerButton" *ngIf="formAction != 'detail'" type="submit">Save</button>
             <button class="btn btn-warning" *ngIf="formAction != 'detail'" type="button" (click)="navigateBack()">Cancel</button>
           }
        </div>
        <br />

        <div class="container">
            <div class="row">
              <div class="col-2">
                <label class="form-label" style="float:right">Name *</label>    
              </div>
              <div class="col-10">
                <input required maxlength="30"  class="form-control"   type="text" name="name"   />
              </div>   
            </div>
           
            <div class="row" style="margin-top: 5px;">
              <div class="col-2">
                <label class="form-label" style="float:right">Academic year *</label>    
              </div>
              <div class="col-10">
                <input required maxlength="4"  class="form-control"   type="number" name="academicyear"   />
              </div>   
            </div>
          
            <div class="row" style="margin-top: 5px;">
              <div class="col-2">
                <label class="form-label" style="float:right">School *</label>    
              </div>
              <div class="col-10">
                <Select class="form-select" aria-label="class">
                    <option value="">Please choose a school</option>
                    <option value="1">School 1 </option>
                    <option value="2">School 2</option>
                    <option value="2">School 3</option>
                </Select> 
              </div>   
            </div>
          
            <div class="row"  style="margin-top: 5px;">
              <div class="col-2">
                <label class="form-label" style="float:right">Department *</label>    
              </div>
              <div class="col-10">
                <Select class="form-select" aria-label="class">
                    <option value="">Please choose a department</option>
                    <option value="1">department 1 </option>
                    <option value="2">department 2</option>
                    <option value="2">department 3</option>
                </Select> 
              </div>
            </div>
          
            <div class="row"  style="margin-top: 5px;">
              <div class="col-2">
                <label class="form-label" style="float:right">Responsable teacher *</label>    
              </div>
              <div class="col-10">
                <Select class="form-select" aria-label="class">
                    <option value="">Please choose a teacher</option>
                    <option value="1">teacher 1 </option>
                    <option value="2">teacher 2</option>
                    <option value="2">teacher 3</option>
                </Select> 
              </div>      
            </div>
            <div class="row"  style="margin-top: 5px;">
              <div class="col-2">
                <label class="form-label" style="float:right">School *</label>    
              </div>
              <div class="col-10">
                <Select class="form-select" aria-label="class">
                    <option value="">Please choose Grade</option>
                    <option value="1">First grade</option>
                    <option value="2">Second grade</option>
                    <option value="2">Third grade</option>
                </Select> 
              </div>   
             </div>
       </div>
</form>
   
}
        



