@if(errorMessage != '')
{
   <div  class="text-danger text-center">
      {{errorMessage}}
   </div>
}
@else { 
    <form (ngSubmit)="onSubmit()"  class="formClass">
      <div class="pageTitle" >
        {{pageTitle}}
      </div>
      <div class="buttonBar" style="margin-top:10px">
        @if(formAction == 'detail')
           {
             <button class="btn btn-light headerButton" type="button" (click)="navigateBack()">Go Back</button>
             <button class="btn btn-light headerButton" type="button" (click)="updateClick()">Update</button>
           }
           @else {
             <button class="btn btn-success headerButton" *ngIf="formAction != 'detail'" type="submit">Save</button>
             <button class="btn btn-warning" *ngIf="formAction != 'detail'" type="button" (click)="navigateBack()">Cancel</button>
           }
      </div>
    <div class="container">
      <div class="row">
        <div class="col-2">
          <label class="form-label" style="float:right">Name *</label>    
        </div>
        <div class="col-10">
          <input required maxlength="30"  class="form-control"  [disabled]=disableControls type="text" name="name"  [(ngModel)]="school.name" />
        </div>   
      </div>
      <div class="row" style="margin-top: 5px;">
        <div class="col-2">
          <label class="form-label" style="float:right">Adress *</label>    
        </div>
        <div class="col-10">
          <input required maxlength="30"  class="form-control" [disabled]=disableControls  type="text" name="address" [(ngModel)]="school.streetAndNumber"  />
        </div>   
      </div>
      <div class="row" style="margin-top: 5px;">
        <div class="col-2">
          <label class="form-label" style="float:right">Zipcode *</label>    
        </div>
        <div class="col-10">
          <input required maxlength="4"  class="form-control" [disabled]=disableControls  type="text" name="zipcode"  [(ngModel)]="school.zipCode" />
        </div>   
      </div>
      <div class="row" style="margin-top: 5px;">
        <div class="col-2">
          <label class="form-label" style="float:right">City *</label>    
        </div>
        <div class="col-10">
          <input required maxlength="30"  class="form-control" [disabled]=disableControls  type="text" name="city"   />
        </div>   
      </div>
      <div class="row" style="margin-top: 5px;">
        <div class="col-2">
          <label class="form-label" style="float:right">Email *</label>    
        </div>
        <div class="col-10">
          <input required maxlength="30"  class="form-control" [disabled]=disableControls  type="text" name="email" [(ngModel)]="school.contactEmail"   />
        </div>   
      </div>
      <div class="row" style="margin-top: 5px;">
        <div class="col-2">
          <label class="form-label" style="float:right">Website</label>    
        </div>
        <div class="col-10">
          <input required maxlength="30"  class="form-control" [disabled]=disableControls  type="text" name="website" [(ngModel)]="school.website"  />
        </div>   
      </div>
      <div class="row" style="margin-top: 5px;">
        <div class="col-2">
          <label class="form-label" style="float:right">SchoolType</label>    
        </div>
        <div class="col-10">
          <Select class="form-select" aria-label="class">
            <option value="">Please choose a schoolType</option>
            <option  *ngFor="let schoolType of schoolTypes">
              {{schoolType.Name}}
            </option>    
          </Select> 
        </div>   
      </div>
      <div class="row" style="margin-top: 5px;">
        <div class="col-2">
          <label class="form-label" style="float:right">Description</label>    
        </div>
        <div class="col-10">
          <textarea maxlength="400" class="form-control" [disabled]=disableControls name="description" rows="3"></textarea>
        </div>   
      </div>
     </div>
    </form>
}


