<p class="pageTitle" >Departments</p>
<p>
  <Select class="form-select" aria-label="class">
    <option value="">Please choose a school</option>
    <option value="1">Greenwood High School</option>
    <option value="2">Riverdale Academy</option>
  </Select>
</p>
<div class="buttonBar">
    <button  style="float:left;" class="btn btn-light  headerButton" type="button" (click)="addDepartment()"><i class="bi bi-plus"></i> Add Department</button>
</div>
<table class="table table-sm table-hover table-striped">
    <thead>
        <tr>
            <th class="p-2" style="text-align: right;">Id</th>
            <th class="p-2" style="text-align: center;">Name</th>
            <th class="p-2" style="text-align: right;">SchoolId</th>
            <th class="p-2" style="text-align: center;">CreatedAt</th>
        </tr>
    </thead>
    <tbody>
        @for(department of departments; track department.id) {
            <tr  (click)="showDepartmentDetail(department.id)" class="cell-hoverCursor">      
                <td style="text-align: right;">{{department.id}}</td>
                <td style="text-align: center;">{{department.name}}</td>  
                <td style="text-align: right;">{{department.schoolId}}</td>  
                <td style="text-align: center;">{{department.createdAt  | date: 'dd/MM/yyyy'}}</td>
            </tr>
        }
    </tbody>
</table>


