
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <br/>
      <h4>Change Password</h4>
      <br/>
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <div>
            <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password" />
        </div>
        <!-- Error messages for password field -->
        <div *ngIf="hasError('password', 'required')">
            <p style="color: red">Password is required</p>
        </div>
        <div *ngIf="hasError('password', 'minlength')">
            <p style="color: red">Password must be at least 7 characters long</p>
        </div>
        <div *ngIf="hasError('password', 'uppercase')">
            <p style="color: red">
                Password must contain at least one uppercase letter
            </p>
        </div>
        <div *ngIf="hasError('password', 'number')">
            <p style="color: red">Password must contain at least one number</p>
        </div>
        <div *ngIf="hasError('password', 'specialCharacter')">
            <p style="color: red">
                Password must contain at least one special character
            </p>
        </div>
        <br/>
        <div>
            <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password"/>
        </div>
        <!-- Error messages for confirm password field -->
        <div *ngIf="passwordForm.errors?.['passwordMismatch'] && passwordForm.get('confirmPassword')?.touched">
            <p style="color: red">Passwords do not match!</p>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary" [disabled]="passwordForm.invalid" style="margin-top: 2cqh;width: 100%;">
              Continue
        </button>

      </form>
      <br/>
      Password must:
      <ul>
        <li>be at least 7 characters long</li>
        <li>include at least 1 upper character</li>
        <li>include at least 1 number</li>
        <li>include at least 1 special character</li>
       </ul>
    </div>
    <div class="col-md-4">
    </div>
</div>





      
