<div class="row">
    <div class="col-md-8">
    </div>
    <div class="col-md-4">
      <br/>
      <h4>Change Password</h4>
      <br/>
      <form #changePasswordForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input 
              type="text" 
              class="form-control"
              name="userName"
              [(ngModel)] =  "user.userName" 
              id="inputEmailOrUserName" 
              aria-describedby="emailHelp" 
              required
              placeholder="Enter username or email">
          </div>
          <br/>
          <div class="form-group">
            <input 
              type="password" 
              class="form-control"
              name="password"
              [(ngModel)] =  "user.password" 
              id="inputCurrentPassword" 
              required
              minlength="8"
              placeholder="Current Password">
          </div>
          <br/>
          <div class="form-group">
            <input 
              type="password" 
              class="form-control"
              name="newpassword"
              [(ngModel)] = "user.newPassword" 
              id="inputNewPassword" 
              required
              minlength="8"
              placeholder="New Password">
          </div>
          <br/>
          <div class="form-group">
            <input 
              type="password" 
              class="form-control"
              name="newPassword"
              id="inputConfirmPassword" 
              required
              minlength="8"
              placeholder="Confirm Password">
          </div>
        <button type="submit" 
          class="btn btn-primary" 
          [disabled]="!changePasswordForm.valid" 
          style="margin-top: 2cqh;width: 100%;">
                Save
        </button>
      </form>
      <br/>
      Password must:
      <ul>
          <li>include lower and upper characters</li>
          <li>include at least 1 number or symbol</li>
          <li>cannot contain spaces</li>
          <li>be at least 8 characters long</li>
      </ul>
    </div>
</div>
