@if(errorMessage != '')
{
   <div  class="text-danger text-center">
      {{errorMessage}}
   </div>
}
@else
{
   <form (ngSubmit)="onSubmit()" #studentForm="ngForm" class="formClass">
      <div class="pageTitle" >
         {{pageTitle}}
      </div>
      <div class="buttonBar" style="margin-top:10px">
         @if(formAction == 'detail')
          {
                  <button class="btn btn-light headerButton" type="button" (click)="navigateBack()">Go Back</button>
                  <button class="btn btn-light headerButton" type="button" (click)="updateClick()">Update</button>
                  <button class="btn btn-light" type="button" style="color: red;" (click)="deleteClick()">Delete</button>
               }
               @else {
                  <button class="btn btn-success headerButton" *ngIf="formAction != 'detail'" type="submit" [disabled]="studentForm.invalid">Save</button>
                  <button class="btn btn-warning"  *ngIf="formAction != 'detail'"  type="button" (click)="navigateBack()">Cancel</button>
               }
      </div>
     
      <div class="container">
         <div class="row">
            <div class="col-3">
               @if(student.picture == null)
               {
                  <img src={{noPictureUrl}} style="float: right ;height: 130px;width: 95px;border-width: 1px;border-color:#777;border-style: solid;border-radius: 3px;">
               }
               @else {
                  <img src={{student.picture}} style="float: right;height: 130px;width: 95px;border-width: 1px;border-color:#777;border-style: solid;border-radius: 3px;">
               }
            </div>   
            <div class="col-4">
               <!--   
               <input type="file" (change)="onFileSelected($event)" [disabled]=disableControls />
               <button class="btn btn-light" style="margin-top: 10px;" type="button" (click)="clearPicture()" [disabled]=disableControls>Clear picture</button>
               -->
               <button class="btn btn-primary" style="margin-top: 10px;" type="button"  [disabled]=disableControls><i class="bi bi-upload"></i> Upload photo</button>
            </div>
         </div>
         <hr />
         <label style="background-color: #777;color:white;padding-left: 10px;padding-right: 10px;border-radius: 2px;">Student Info</label>
         <br/> <br/>
         <div class="row">
            <div class="col-3">
               <label class="form-label" style="float:right">LastName * & Firstname *</label>
            </div>
            <div class="col-4">
               <input required maxlength="30" #lastName="ngModel" [disabled]=disableControls class="form-control" type="text" name="lastName"  [(ngModel)]="student.lastName" />
               @if((lastName.invalid &&(lastName.touched || lastName.dirty)) && lastName.errors?.['required'])
               {
                  <div class="text-danger">Last Name is required</div>
               }
               @if((firstName.invalid &&(firstName.touched || firstName.dirty)) && firstName.errors?.['maxlength'])
               {
                  <div class="text-danger">First Name cannot be longer than 30 characters</div>
               }
            </div>
            <div class="col-4">
               <input required maxlength="30" #firstName="ngModel" [disabled]=disableControls class="form-control"   type="text" name="firstName"  [(ngModel)]="student.firstName" />
               @if((firstName.invalid &&(firstName.touched || firstName.dirty)) && firstName.errors?.['required'])
               {
                  <div class="text-danger">First Name is required</div>
               }
               @if((firstName.invalid &&(firstName.touched || firstName.dirty)) && firstName.errors?.['maxlength'])
               {
                  <div class="text-danger">First Name cannot be longer than 30 characters</div>
               }
            </div>
         </div>
         <div class="row" style="margin-top: 5px;">
            <div class="col-3">
                <label class="form-label" style="float:right">Gender</label>
            </div>
            <div class="col-8">
               <select  class="form-select" style="width: 250px;" name="gender" [(ngModel)]="student.gender" [disabled]=disableControls>  
                  <option value="">Select Gender</option>
                  <option [ngValue]="gender.Id"  *ngFor="let gender of genderData">
                        {{gender.Name}}
                  </option>    
               </select> 
            </div>
         </div>
         <div class="row" style="margin-top: 5px;">
            <div class="col-3">
                <label class="form-label" style="float:right">Date of birth *</label>
            </div>
            <div class="col-8">
               @if(formAction  == 'detail')
               {
                  <label class="form-control" style="background-color: #eee;width: 250px;">{{student.dateOfBirth | date: 'dd/MM/yyyy'}}</label>
               }
               @else{
                  <mat-form-field style="width: 250px">
                     <input matInput  
                           [matDatepicker]="datepicker"
                           placeholder="Select a date" 
                           [disabled]="disableControls"
                           [(ngModel)]="student.dateOfBirth"
                           name="dateOfBirth">
                     <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                     <mat-datepicker #datepicker></mat-datepicker>
                  </mat-form-field>
               }
            </div>
         </div>
         <div class="row" style="margin-top: 5px;">
            <div class="col-3">
               <label  class="form-label" style="float:right">ZipCode * & City *</label>
            </div>
            <div class="col-3">
               <input required #zipcode="ngModel" style="width: 250px;" [disabled]=disableControls class="form-control" type="text" name="zipcode"   [(ngModel)]="student.zipcode"/>
               @if((lastName.invalid &&(zipcode.touched || zipcode.dirty)) && zipcode.errors?.['required'])
               {
                  <div class="text-danger">Zipcode is required</div>
               }
            </div>
            <div class="col-5">
               <input required maxlength="30"  [disabled]=disableControls class="form-control" type="text" name="city"   />
            </div>
         </div>
         <div class="row" style="margin-top: 5px;">
            <div class="col-3">
                <label class="form-label" style="float:right">Street and number</label>
            </div>
            <div class="col-8">
               <input maxlength="30" #streetAndNumber="ngModel" [disabled]=disableControls class="form-control" type="text" name="streetAndNumber"  [(ngModel)]="student.streetAndNumber" />
            </div>
         </div>
         <div class="row" style="margin-top: 5px;">
            <div class="col-3">
               <label  class="form-label" style="float:right">Phone *</label>
            </div>
            <div class="col-8">
               <input required #phone="ngModel" [disabled]=disableControls class="form-control" type="phone" name="phone"  [(ngModel)]="student.phone" />
               @if((phone.invalid &&(phone.touched || phone.dirty)) && phone.errors?.['required'])
               {
               <div class="text-danger">Phone is required</div>
               }
            </div>
         </div>
         <div class="row" style="margin-top: 5px;">
            <div class="col-3">
                <label class="form-label"  style="float:right">Email *</label>
            </div>
            <div class="col-8">
               <input required maxlength="30" email #email="ngModel" [disabled]=disableControls class="form-control" type="email" name="email"  [(ngModel)]="student.email" />
               @if(email.invalid &&(email.touched || email.dirty))
               {
                  @if(email.errors?.['required'])
                  {
                     <div class="text-danger">Email is required</div>
                  }
                  @if(email.errors?.['email'])
                  {
                     <div class="text-danger">Email is invalid</div>
                  }
               }
            </div>
         </div>
         <hr />
            <label style="background-color: #777;color:white;padding-left: 10px;padding-right: 10px;border-radius: 2px;">Parent Info</label>
            <br/><br/>
            <button class="btn btn-primary" style="margin-bottom: 10px;margin-right: 10px;" type="button"   (click)="previousParent()"><i class="bi bi-arrow-left"></i></button>
            <button class="btn btn-primary" style="margin-bottom: 10px;" type="button"  (click)="nextParent()"><i class="bi bi-arrow-right"></i></button>
            <div class="row">
               <div class="col-3">
                  <label class="form-label" style="float:right">LastName * & Firstname *</label>
               </div>
               <div class="col-4">
                  <input required maxlength="30" #parentlastName="ngModel" [disabled]=disableControls class="form-control" type="text" name="parentlastName" [(ngModel)]="parent.lastName"/>
                  @if((lastName.invalid &&(lastName.touched || lastName.dirty)) && lastName.errors?.['required'])
                  {
                     <div class="text-danger">Last Name is required</div>
                  }
                  @if((firstName.invalid &&(firstName.touched || firstName.dirty)) && firstName.errors?.['maxlength'])
                  {
                     <div class="text-danger">First Name cannot be longer than 30 characters</div>
                  }
               </div>
               <div class="col-4">
                  <input required maxlength="30"  #parentFirstName="ngModel" [disabled]=disableControls class="form-control"   type="text" name="parentfirstName" [(ngModel)]="parent.firstName" />
                  @if((firstName.invalid &&(firstName.touched || firstName.dirty)) && firstName.errors?.['required'])
                  {
                     <div class="text-danger">First Name is required</div>
                  }
                  @if((firstName.invalid &&(firstName.touched || firstName.dirty)) && firstName.errors?.['maxlength'])
                  {
                     <div class="text-danger">First Name cannot be longer than 30 characters</div>
                  }
               </div>
               <div class="row" style="margin-top: 5px;">
               <div class="col-3">
                  <label  class="form-label" style="float:right">Phone *</label>
               </div>
               <div class="col-8">
                  <input required  #parentPhoneNumber="ngModel" [disabled]=disableControls class="form-control" type="phone" name="parentphone"  [(ngModel)]="parent.phoneNumber"  />
                  @if((phone.invalid &&(phone.touched || phone.dirty)) && phone.errors?.['required'])
                  {
                  <div class="text-danger">Phone is required</div>
                  }
               </div>
            </div>
            <div class="row" style="margin-top: 5px;">
               <div class="col-3">
                  <label class="form-label"  style="float:right">Email *</label>
               </div>
               <div class="col-8">
                  <input required maxlength="30" #parentEmail="ngModel" email  [disabled]=disableControls class="form-control" type="email" name="parentemail"   [(ngModel)]="parent.email"  />
                  @if(email.invalid &&(email.touched || email.dirty))
                  {
                     @if(email.errors?.['required'])
                     {
                        <div class="text-danger">Email is required</div>
                     }
                     @if(email.errors?.['email'])
                     {
                        <div class="text-danger">Email is invalid</div>
                     }
                  }
               </div>
            </div>
            <div class="row" style="margin-top: 5px;">
               <div class="col-3">
                  <label class="form-label"  style="float:right">Relation to student</label>
               </div>
               <div class="col-8">
                  <select class="form-select"   [disabled]=disableControls style="width: 40%;">
                     <option value="0">Please choose relationship</option>
                     <option *ngFor="let relationship of relationshipToStudent" [selected]="relationship.id==parent.relationshipToStudent" >
                           {{relationship.name}}
                     </option>    
                  </select>
               </div>
            </div>
            </div>

     </div>
 </form>
}
<br/><br/>
