<p class="text-center h5" >{{pageTitle}}</p>
<div  class="text-danger text-center"  *ngIf="errorMessage != ''">
    {{errorMessage}}
</div>

<form *ngIf="errorMessage === ''"   (ngSubmit)="onSubmit()" #studentForm="ngForm" class="border rounded p-4 w-50 mb-5 mx-auto">

     <div style="background-color: rgb(81, 235, 235);padding:4px;border-radius: 4px; ">
          <button class="btn btn-primary" style="margin-right: 6px;" *ngIf="formAction == 'detail'"  type="button" (click)="navigateBack()">Go Back</button>
          <button class="btn btn-secondary" style="margin-right: 6px;" *ngIf="formAction == 'detail'"  type="button" (click)="updateClick()">Update</button>
          <button class="btn btn-danger" *ngIf="formAction == 'detail'"  type="button" (click)="deleteClick()">Delete</button>
          <button class="btn btn-success" style="margin-right: 6px;" *ngIf="formAction != 'detail'" type="submit" [disabled]="studentForm.invalid">Save</button>
          <button class="btn btn-warning"  *ngIf="formAction != 'detail'"  type="button" (click)="navigateBack()">Cancel</button>
     </div>
     <br />
     <div class="mb-3">
        <label class="form-label">Firstname *</label>
        <input required #firstName="ngModel" [disabled]=disableControls class="form-control"   type="text" name="firstName"  [(ngModel)]="student.firstName" />

        <div *ngIf="firstName.invalid &&(firstName.touched || firstName.dirty)">
            <div class="text-danger" *ngIf="firstName.errors?.['required']">First Name is required</div>
        </div>
   </div>
   <div class="mb-3">
        <label class="form-label">Lastname *</label>
        <input required #lastName="ngModel" [disabled]=disableControls class="form-control" type="text" name="lastName"  [(ngModel)]="student.lastName" />
        <div *ngIf="lastName.invalid &&(lastName.touched || lastName.dirty)">
               <div class="text-danger" *ngIf="lastName.errors?.['required']">Last Name is required</div>
        </div>
   </div>

   <div class="mb-3">
     <label class="form-label">Gender</label>
     <select  class="form-control" name="gender">  
          <option>Select Gender</option>  
          <option>male</option> 
          <option>female</option>  
         <!-- <option *ngFor="let web of websiteList">{{web}}</option> -->    
      </select> 
   </div>
   <div class="mb-3">
     <label class="form-label">Date of birth</label>
     
     <div *ngIf="formAction  == 'detail'; else dateOfBirthEdit ">
          <label class="form-control">{{student.dateOfBirth | date: 'dd/MM/yyyy'}}</label>
     </div>
     <ng-template #dateOfBirthEdit>
          <input required #dateOfBirth="ngModel" [disabled]=disableControls class="form-control" type="text" name="dateOfBirth"  [(ngModel)]="student.dateOfBirth" />
          <div *ngIf="dateOfBirth.invalid &&(dateOfBirth.touched || dateOfBirth.dirty)">
               <div class="text-danger" *ngIf="dateOfBirth.errors?.['required']">Date of birth is required</div>
          </div>
     </ng-template>
   </div>
   <div class="mb-3">
     <label  class="form-label">ZipCode</label>
     <input required #zipcode="ngModel" [disabled]=disableControls class="form-control" type="text" name="zipcode"   [(ngModel)]="student.zipcode"/>
     <div *ngIf="lastName.invalid &&(zipcode.touched || zipcode.dirty)">
          <div class="text-danger" *ngIf="zipcode.errors?.['required']">Zipcode is required</div>
     </div>
   </div>  
   <div class="mb-3">
     <label  class="form-label">Street and number</label>
     <input  #streetAndNumber="ngModel" [disabled]=disableControls class="form-control" type="text" name="streetAndNumber"  [(ngModel)]="student.streetAndNumber" />
   </div>  
   <div class="mb-3">
        <label  class="form-label">Phone</label>
        <input required #phone="ngModel" [disabled]=disableControls class="form-control" type="phone" name="phone"  [(ngModel)]="student.phone" />
        <div *ngIf="phone.invalid &&(phone.touched || phone.dirty)">
            <div class="text-danger" *ngIf="phone.errors?.['required']">Phone is required</div>
        </div>
   </div>
   <div class="mb-3">
        <label class="form-label">Email</label>
        <input required email #email="ngModel" [disabled]=disableControls class="form-control" type="email" name="email"  [(ngModel)]="student.email" />

        <div *ngIf="email.invalid &&(email.touched || email.dirty)">
            <div class="text-danger" *ngIf="email.errors?.['required']">Email is required</div>
            <div class="text-danger" *ngIf="email.errors?.['email']">Email is invalid</div>
        </div>
   </div>
          
</form>
