<p class="pageTitle" >ExamResults</p>
@if(error != "")
{
    <div class="errorLabel">{{error}}</div>
}
@if(loading)
{
  <div style="margin-left: 200px;">
    <div fxLayout="row" fxLayoutAlign="space-around center" style="height:100%;">
      <mat-spinner diameter="70" strokeWidth="5"></mat-spinner>
    </div>
    <div>loading</div> 
  </div>
}
@if(error == "" && !loading)
{
  <div style="float:right;">  {{examResultsCount}} exam results found. </div>
  <table class="table table-sm  table-striped">
      <thead>
         <tr>
           <th class="p-2" style="text-align: center;">PASS / FAIL</th>   
           <th class="p-2" style="text-align: center;">Student Name</th>
           <th class="p-2" style="text-align: center;">Email</th>  
           <th class="p-2" style="text-align: center;">ExamName</th> 
           <th class="p-2" style="text-align: center;">Score</th>
        </tr>
      </thead>
      <tbody>
        @for(examResult of examResults; track examResult.id){
          <tr class="cell-hoverCursor">
            @if(examResult.examenResult >= examResult.minScoreToPassExam)
            {
              <td style="align-content: center;">
                <div style="color:green;text-align: center;color:green;border-radius: 5px;width: 100px;margin-left: auto;margin-right: auto;">
                    PASS <i class="bi bi-check-circle"></i>
                </div>
              </td>      
            }
            @else
            {
              <td>
                <div style="color:rgb(243, 8, 8);text-align: center;color:red;border-radius: 5px;width: 100px;margin-left: auto;margin-right: auto;">
                    FAIL <i class="bi bi-emoji-frown"></i>
                </div>
              </td>
            }      
            <td style="text-align: center;">{{examResult.studentLastName}} {{examResult.studentFirstName}}</td> 
            <td style="text-align: center;">{{examResult.studentEmail}}</td>   
            <td style="text-align: center;">{{examResult.examName}}</td>   
            <td style="text-align: center;">{{examResult.examenResult}} / {{examResult.maxScore}}</td>
         </tr>  
        }
      </tbody>
  </table>
}

