th {
    color: rgb(45, 140, 216);
    background-color:rgb(200, 220, 255); ;
}
.bordergreen{
    border-left-width: 7px;
    border-left-color: green;
    color: green;
}
.borderred{
    border-left-width: 7px;
    border-left-color: red;
    color: red;
}