th {
    color: rgb(0, 5, 8);
    background-color:rgb(238, 243, 252); ;
}
.bordergreen{
    border-left-width: 7px;
    border-left-color: green;
    color: green;
}
.borderred{
    border-left-width: 7px;
    border-left-color: red;
    color: red;
}