<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <br/>
      <h4>Welcome</h4>
      <br/>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <input 
          type="text" 
          class="form-control"
          name="userName"
          [(ngModel)] =  "user.userName"
          id="inputEmailOrUserName" 
          aria-describedby="emailHelp" 
          required
          placeholder="Enter username or email">
      <br/>
      <input 
          type="password" 
          class="form-control"
          name="password"
          [(ngModel)] =  "user.password" 
          id="inputPassword1" 
          required
          minlength="8"
          placeholder="Password">
     <button type="submit" 
          class="btn btn-primary" 
          [disabled]="!loginForm.valid" 
          style="margin-top: 2cqh;width: 100%;">
              Login
      </button>
    </form>
    <br/>
    <a href="\resetpassword">Forgot password?</a>
    <br/>
    <a href="\changepassword">Change password?</a>
  </div>
  <div class="col-md-4">
  </div>
</div>


