<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <br/>
    <h4>Welcome</h4>
    <br/>
    @if(loading)
    {
      <div style="margin-left: 200px;">
        <div fxLayout="row" fxLayoutAlign="space-around center" style="height:100%;">
          <mat-spinner diameter="70" strokeWidth="5"></mat-spinner>
        </div>
        <div>loading</div> 
      </div>
    }
    @else {
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1" style="background-color: aquamarine;"> <i class="bi bi-person fs-4" ></i></span>
          <input 
            type="text" 
            class="form-control"
            style="width: 80%;float: left;"  name="userName"
            [(ngModel)] =  "user.userName"
            id="inputEmailOrUserName" 
            aria-describedby="emailHelp" 
            required
            placeholder="Enter username or email">
        </div>
        <div class="container">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1" style="background-color: aquamarine;"><i class="bi bi-key  fs-4"></i> </span>
            <input 
                [type]="showPassword ? 'text' : 'password'" 
                class="form-control"
                name="password"
                [(ngModel)] =  "user.password" 
                id="inputPassword1" 
                required
                minlength="8"
                width="100px"
                placeholder="Password"
            >
            <button type="button" class="btn btn-info" type="button"  (click)="togglePasswordVisibility()">
              <i class="fa" [ngClass]="{'bi bi-eye fs-6': !showPassword, 'bi bi-eye-slash fs-6': showPassword}"></i>
            </button>  
          </div>
   
      </div>
      <button type="submit"  class="btn btn-primary" style="margin-top: 2cqh;width: 100%;">
        Log in
      </button>

      </form>
      <br/>
      <div class="errorLabel">{{signInMessage}}</div>
      <br/>
      <a href="\resetpassword">Forgot password?</a>
      <br/>
      <a href="\changepassword">Change password?</a>
    }
    
  </div>
  <div class="col-md-4">
  </div>
</div>


