.content {
    transition: 0.1s;
    background-color: rgb(230, 230, 245);
    min-height: 110vh;
    &.sidebarExpanded {
      margin-left: 240px;
    }
  }
  .login{
    float: right;
    margin-right:50px;
    margin-top:7px;
    color:white;
    padding-left:10px;
    padding-right:10px;
    background-color: rgb(0, 92, 128);
    width: 300px;
    border-radius: 8px;
    align-items: center;
  }
  a:hover{
    background-color: rgb(26, 154, 204);
    color: white;
  }
  #fullheight
  {
    background-color:hsl(0, 30%, 86%);min-height: 110vh;
  }
  #header{
    height: 50px;background-color: rgb(135, 164, 180);color:white;
  }
  

