.content {
    transition: 0.1s;
    background-color: rgb(230, 230, 245);
    min-height: 110vh;
    &.sidebarExpanded {
      margin-left: 240px;
    }
  }
  a:hover{
    background-color: rgb(26, 154, 204);
    color: white;
  }
  #fullheight
  {
    background-color:hsl(0, 30%, 86%);min-height: 110vh;
  }
  #header{
    height: 50px;background-color: rgb(135, 164, 180);color:white;
  }
  

