.content {
    margin-left: 100px;
    margin-right: 30px;
    transition: 0.5s;
    &.sidebarExpanded {
      margin-left: 250px;
    }
  }
  .login{
    float: right;
    margin-right:50px;
    margin-top:7px;
    color:white;
    padding-left:10px;
    padding-right:10px;
    background-color: rgb(0, 92, 128);
    width: 300px;
    border-radius: 8px;
    align-items: center;
  }
  a:hover{
    background-color: rgb(26, 154, 204);
    color: white;
  }
  #fullheight
  {
    background-color:hsl(0, 0%, 87%);min-height: 110vh;
  }
  #header{
    height: 40px;background-color: rgb(99,99,99);color:white;
  }
  

