<meta name="google-site-verification" content="ZzjLIH92ovuSGKH6C5FjjVc41M04tkZazOQdgbslOes" />
 <div  id="fullheight">
    <div id="header">
       <div style="float:left;color:rgb(221, 224, 32);margin-left: 250px;font-size: 28px;margin-top:5px">Free University</div>
       <a routerLink="home">Home</a>
       @if(!isAuthenticated)
       {
         <a routerLink="login" class="login">Sign in</a>
       }
       @else{
         <a class="login" (click)="logout()">Sign out  &nbsp;&nbsp;&nbsp;&nbsp;  {{userName}}</a>
       }
    </div>
    @if(sidebarVisible)
    {
      <app-sidebar userRole={{userRole}} [isExpanded]="sidebarExpanded" (toggleSidebar)="sidebarExpanded = !sidebarExpanded"></app-sidebar>
    }
    <div class="content" [ngClass]="{ 'sidebarExpanded': sidebarExpanded }">
       <router-outlet></router-outlet>
    </div>
  </div>
