<div class="sidebar" [ngClass]="{ 'expanded': isExpanded }">
    <div class="header">
      <!-- 
      <div class="toggle" (click)="handleSidebarToggle()">
        <span class="chevron"></span>
      </div>
      -->
      
    </div>
    <div class="content">
      @if(dashboardVisible)
      {
        <div class="link">
          <div class="content" [routerLink]="['dashbord']" [routerLinkActive]="'active'">
            <div class="icon"  data-placement="right" title="Dashboard">
              <i class="bi bi-grid-3x3-gap-fill"></i>
            </div>
            <div class="title">Dashboard</div>
          </div>
        </div>
      }
      @if(schoolsVisible)
      {
        <div class="link">
          <div class="content" [routerLink]="['schools']" [routerLinkActive]="'active'">
            <div class="icon" data-placement="right" title="Schools">
              <i class="bi bi-buildings"></i>
            </div>
            <div class="title">Schools</div>
          </div>
        </div>
      }
      @if(departmentsVisible)
      {
        <div class="link">
          <div class="content" [routerLink]="['departments']" [routerLinkActive]="'active'">
            <div class="icon" data-placement="right" title="Schools">
              <i class="bi bi-building"></i>
            </div>
            <div class="title">Departments</div>
          </div>
        </div>
      }
      @if(classesVisible)
      {
        <div class="link">
          <div class="content" [routerLink]="['classes']" [routerLinkActive]="'active'">
            <div class="icon" data-placement="right" title="Classes">
              <i class="bi bi-book"></i>
            </div>
            <div class="title">Classes</div>
          </div>
        </div>
      }
      @if(studentsVisible)
      {
        <div class="link">
          <div class="content" [routerLink]="['students']" [routerLinkActive]="'active'">
            <div class="icon" data-placement="right" title="Students">
              <i class="bi bi-mortarboard"></i>
            </div>
            <div class="title">Students</div>
          </div>
        </div>
      }
      @if(studentPresenceVisible)
      {
        <div class="link">
          <div class="content" [routerLink]="['studentpresence']" [routerLinkActive]="'active'">
            <div class="icon"  data-placement="right" title="Student Presence">
              <i class="bi bi-mortarboard"></i>
            </div>
            <div class="title">Student Presence</div>
          </div>
        </div>
      }
      @if(teachersVisible)
      {
        <div class="link">
          <div class="content" [routerLink]="['teachers']" [routerLinkActive]="'active'">
            <div class="icon"  data-placement="right" title="Teachers">
              <i class="bi bi-person-workspace"></i>
            </div>
            <div class="title">Teachers</div>
          </div>
        </div>
      }
      @if(usersVisible)
      {
        <div class="link">
          <div class="content" [routerLink]="['users']" [routerLinkActive]="'active'">
            <div class="icon"  data-placement="right" title="Users">
              <i class="bi bi-person-vcard"></i>
            </div>
            <div class="title">Users</div>
          </div>
        </div>
      }
      @if(coursesVisible)
      {
        <div class="link">
          <div class="content" [routerLink]="['courses']" [routerLinkActive]="'active'">
            <div class="icon"  data-placement="right" title="Courses">
              <i class="bi bi-card-list"></i>
            </div>
            <div class="title">Courses</div>
          </div>
        </div>
      }
      @if(examsVisible)
      {
        <div class="link">
          <div class="content" [routerLink]="['exams']" [routerLinkActive]="'active'">
            <div class="icon">
              <i class="bi bi-card-list"  data-placement="right" title="Exams"></i>
            </div>
            <div class="title">Exams</div>
          </div>
        </div>
      }
       @if(examsquestionsVisible)
      {
        <div class="link">
          <div class="content" [routerLink]="['examquestions']" [routerLinkActive]="'active'">
            <div class="icon">
              <i class="bi bi-card-list"  data-placement="right" title="Create Exam"></i>
            </div>
            <div class="title">Create Exam</div>
          </div>
        </div>
      }
      @if(examResultsVisible)
      {
        <div class="link">
          <div class="content" [routerLink]="['examresults']" [routerLinkActive]="'active'">
            <div class="icon"  data-placement="right" title="Examen results">
              <i class="bi bi-award"></i>
            </div>
            <div class="title">Examen results</div>
          </div>
        </div>
      }
     @if(studyPlansVisible)
     {
      <div class="link">
        <div class="content" [routerLink]="['studyplans']" [routerLinkActive]="'active'">
          <div class="icon"  data-placement="right" title="Studyplans">
            <i class="bi bi-calendar2-check"></i>
          </div>
          <div class="title">Studyplans</div>
        </div>
      </div>
     }
     @if(mystudyplanVisible)
     {
        <div class="link">
          <div class="content" [routerLink]="['studyplandetail']" [routerLinkActive]="'active'">
            <div class="icon"  data-placement="right" title="Studyplans">
              <i class="bi bi-calendar2-check"></i>
            </div>
            <div class="title">Studyplans</div>
          </div>
        </div>
     }
     @if(paymentsVisible)
     {
        <div class="link">
          <div class="content" [routerLink]="['payments']" [routerLinkActive]="'active'">
            <div class="icon"  data-placement="right" title="Payments">
               <i class="bi bi-cash-coin"></i>
            </div>
            <div class="title">Payments</div>
          </div>
        </div>
      }
      @if(settingsVisible)
      {
        <div class="link">
          <div class="content" [routerLink]="['settings']" [routerLinkActive]="'active'">
            <div class="icon"  data-placement="right" title="Settings">
               <i class="bi bi-gear"></i>
            </div>
            <div class="title">Settings</div>
          </div>
        </div>
      }
    </div>
  </div>
