.chevron::before {
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: "";
    display: inline-block;
    height: 0.35em;
    left: 0.15em;
    position: relative;
    top: 0.3em;
    vertical-align: top;
    width: 0.35em;
  }
  .sidebar {
    position: fixed;
    left: 0;
    top: 10;
    height: 100vh;
    transition: 0.3s;
    width: 70px;
    &.expanded {
      width: 240px;
      .header {
        h1 {
          margin-left: 0px;
        }
        .chevron {
          margin-left: 0px;
          &::before {
            transform: rotate(-135deg);
          }
        }
      }
      .content {
        .link {
          .content {
            .title {
              max-width: 220px;
            }
            .icon {
              margin-right: 4px;
            }
          }
        }
      }
    }
    background: rgb(231, 237, 240);
    color: #0f0f0f;
  
    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      background: #efeffa;
;
  
      h1 {
        font-size: 20px;
        color: #010213;
        margin: 0;
        flex: 1;
        transition: 0.5s;
        margin-left: -100px;
      }
  
      .chevron {
        color:  #010213;
        cursor: pointer;
        transition: 0.3s;
        margin-left: -25px;
        padding: 10px;
        min-width: 20px;
        height: 20px;
        display: block;
        text-align: center;
  
        &::before {
          transition: 0.5s;
          transform: rotate(45deg);
        }
  
        &:hover {
          color: #8388e7;
        }
      }
    }
  
    .content {
      .link {
        .content {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
          margin-left: 3px;
          margin-right: 2px;
          margin-top: 1px;
          margin-bottom: 1px;
          border-left:#efeffa 6px solid;
          cursor: pointer;
          transition: 0.5s;
          &:hover {
            background:rgb(223, 92, 92);
            .title {
              color: rgb(26, 25, 25);
            }
            svg {
              fill: rgb(26, 25, 25);
            }
          }
  
          &.active {
            background:  rgb(182, 214, 226);
            .title {
              color: rgb(23, 23, 24);
            }
            .icon {
              color: rgb(23, 23, 24);
            }
            border-left: #5793af 6px solid;
          }
  
          .icon {
            flex: 0 0 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 0px;
          }
          .title {
            flex: 1;
            color: #010213;
            transition: 0.3s;
            max-width: 0px;
            overflow: hidden;
          }
        }
      }
    }
  }
  