<div class="sidebar" [ngClass]="{ 'expanded': isExpanded }">
    <div class="header">
      <h1 class="title">
        Menu
      </h1>
      <div class="toggle" (click)="handleSidebarToggle()">
        <span class="chevron"></span>
      </div>
    </div>
    <div class="content">
      @if(dashboardVisible)
      {
        <div class="link">
          <div class="content" [routerLink]="['dashbord']" [routerLinkActive]="'active'">
            <div class="icon"  data-placement="right" title="Dashboard">
              <i class="bi bi-grid-3x3-gap-fill"></i>
            </div>
            <div class="title">Dashboard</div>
          </div>
        </div>
      }
      @if(studentsVisible)
      {
        <div class="link">
          <div class="content" [routerLink]="['students']" [routerLinkActive]="'active'">
            <div class="icon" data-placement="right" title="Students">
              <i class="bi bi-person"></i>
            </div>
            <div class="title">Students</div>
          </div>
        </div>
      }
      @if(teachersVisible)
      {
        <div class="link">
          <div class="content" [routerLink]="['teachers']" [routerLinkActive]="'active'">
            <div class="icon"  data-placement="right" title="Teachers">
              <i class="bi bi-person"></i>
            </div>
            <div class="title">Teachers</div>
          </div>
        </div>
      }
      @if(usersVisible)
      {
        <div class="link">
          <div class="content" [routerLink]="['users']" [routerLinkActive]="'active'">
            <div class="icon"  data-placement="right" title="Users">
              <i class="bi bi-person"></i>
            </div>
            <div class="title">Users</div>
          </div>
        </div>
      }
      @if(coursesVisible)
      {
        <div class="link">
          <div class="content" [routerLink]="['courses']" [routerLinkActive]="'active'">
            <div class="icon"  data-placement="right" title="Courses">
              <i class="bi bi-card-list"></i>
            </div>
            <div class="title">Courses</div>
          </div>
        </div>
      }
      @if(examsVisible)
      {
        <div class="link">
          <div class="content" [routerLink]="['exams']" [routerLinkActive]="'active'">
            <div class="icon">
              <i class="bi bi-card-list"  data-placement="right" title="Exams"></i>
            </div>
            <div class="title">Exams</div>
          </div>
        </div>
      }
      @if(examResultsVisible)
      {
        <div class="link">
          <div class="content" [routerLink]="['examresults']" [routerLinkActive]="'active'">
            <div class="icon"  data-placement="right" title="Examen results">
              <i class="bi bi-card-list"></i>
            </div>
            <div class="title">Examen results</div>
          </div>
        </div>
      }
     @if(studyPlansVisible)
     {
      <div class="link">
        <div class="content" [routerLink]="['studyplans']" [routerLinkActive]="'active'">
          <div class="icon"  data-placement="right" title="Studyplans">
            <i class="bi bi-card-list"></i>
          </div>
          <div class="title">Studyplans</div>
        </div>
      </div>
     }
     @if(mystudyplanVisible)
     {
        <div class="link">
          <div class="content" [routerLink]="['studyplandetail']" [routerLinkActive]="'active'">
            <div class="icon"  data-placement="right" title="My studyplan">
              <i class="bi bi-card-list"></i>
            </div>
            <div class="title">My studyplan</div>
          </div>
        </div>
     }
     @if(studentPresenceVisible)
     {
        <div class="link">
          <div class="content" [routerLink]="['studentpresence']" [routerLinkActive]="'active'">
            <div class="icon"  data-placement="right" title="Student Presence">
              <i class="bi bi-person"></i>
            </div>
            <div class="title">Student Presence</div>
          </div>
        </div>
      }
      @if(settingsVisible)
      {
         <div class="link">
           <div class="content" [routerLink]="['settings']" [routerLinkActive]="'active'">
             <div class="icon"  data-placement="right" title="Settings">
               <i class="bi bi-gear"></i>
             </div>
             <div class="title">Settings</div>
           </div>
         </div>
       }
      
    </div>
  </div>
