<p class="pageTitle" >Course-shedule</p>
 <table class="table table-sm  table-hover">
        <thead>
           <tr>
             <th class="p-2" style="text-align:center;background-color: rgb(240, 240, 240) !important"></th> 
             <th class="p-2" style="text-align:center;background-color: rgb(250, 200, 200) !important">Sunday</th>
             <th class="p-2" style="text-align:center;background-color:  rgb(240, 240, 240) !important">Monday</th>
             <th class="p-2" style="text-align:center;background-color:  rgb(220, 220, 220) !important">Tuesday</th>
             <th class="p-2" style="text-align:center;background-color:  rgb(240, 240, 240) !important">Wednesday</th>
             <th class="p-2" style="text-align:center;background-color:  rgb(220, 220, 220) !important">Thursday</th>
             <th class="p-2" style="text-align:center;background-color:  rgb(240, 240, 240) !important">Friday</th>
             <th class="p-2" style="text-align:center;background-color:  rgb(200, 250, 200) !important">Saterday</th>
            </tr>
        </thead>
        <tbody>
           <tr>
             <td>8:00h - 9:00h</td>
             <td></td>
             <td>Piano course</td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
           </tr>
           <tr>
             <td>9:00h - 10:00h</td>
             <td></td>
             <td>Gituar course</td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
           </tr>
        </tbody>
    </table>