
.dashboarditemStyle{
    height:9.0rem ;
    width: 21rem;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    padding-top:0.7rem;
    padding-left:0.7rem;
    background-color: white;
    border-left: 0.5rem solid rgb(43, 86, 226)  ;
}


