
.dashboarditemStyle{
    height:12.0rem ;
    width: 21rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 4px rgb(10, 192, 71);
    margin-top: 1.5rem;
    padding-top:0.7rem;
    padding-left:0.7rem;
    background-color: white;
}


