<p class="pageTitle">Dashboard</p>
<div class="container">
  <div class="row">
      @for(colomnNr of colomnNrs; track colomnNr){
        <div class="col-sm">
          @for(dasboarditem of items; track dasboarditem.id ){
            @if(dasboarditem.columnNumber == colomnNr && dasboarditem.visible==true)
            {
              <app-dashboard-item [dashboardItem]="dasboarditem"  />
            }
          }
        </div>
      }
  </div>
  <div class="row" style="margin-top: 12px;">
      <div class="col-sm">
        <div class="dashboarditemStyle"> 
          <div><b>Students:</b></div>
          <div>present : 0</div>
          <div>absent : 0</div>
          <div>sick : 0</div>
        </div>
      </div>
      <div class="col-sm">
         <div class="dashboarditemStyle"> 
          <div><b>Teachers:</b></div>
          <div>present : 0</div>
          <div>absent : 0</div>
          <div>sick : 0</div>
         </div>
      </div>
      <div class="col-sm">

      </div>
  </div>
</div>
  


