<p class="text-center h5" >Exams</p>
@if(error != "")
{
    <div class="errorLabel">{{error}}</div>
}
@if(loading)
{
  <div style="margin-left: 200px;">
    <div fxLayout="row" fxLayoutAlign="space-around center" style="height:100%;">
      <mat-spinner diameter="70" strokeWidth="5"></mat-spinner>
    </div>
    <div>loading</div> 
  </div>
}
@if(error == "" && !loading)
{
  <button style="float:left;" class="btn btn-light" type="button" (click)="addExam()"><i class="bi bi-plus"></i> Add Exam</button>
  <div style="float:right;">  {{examsCount}} exams found. </div>
  <br/><br/>
  <table class="table table-sm table-hover table-striped">
      <thead>
         <tr>
           <th class="p-2" style="text-align:right;">Id</th>
           <th class="p-2" style="text-align:center;">Title</th>
           <th class="p-2" style="text-align:center;">Date</th>   
           <th class="p-2" style="text-align: center;">StartTime</th> 
           <th class="p-2" style="text-align: center;">EndTime</th>   
        </tr>
      </thead>
      <tbody>
        @for(exam of exams; track exam.id){
          <tr (click)="showExamDetail(exam.id)" class="cell-hoverCursor">      
            <td style="text-align:right;">{{exam.id}}</td>        
            <td style="text-align:center;">{{exam.examTitle}}</td> 
            <td style="text-align:center;">{{exam.examenDate | date : 'dd/MM/yyyy'}}</td>
            <td style="text-align: center;">{{exam.examenDate | date : 'HH:mm'}}</td>
            <td style="text-align: center;">{{exam.examEndDateTime | date : 'HH:mm' }}</td> 
          </tr>      
        }
      </tbody>
  </table>
}

