<p class="text-center h5" >Courses</p>
<br/>
<table class="table table-sm table-hover">
    <thead>
       <tr>
         <th class="text-bg-secondary p-2">Id</th>
         <th class="text-bg-secondary p-2">Name</th>
         <th class="text-bg-secondary p-2">Code</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of courses">      
            <td >{{course.id}}</td>        
            <td>{{course.courseName}}</td> 
            <td>{{course.courseCode}}</td>     
          </tr>       
    </tbody>
</table>