<p class="text-center h5" >Courses</p>
@if(error != "")
{
    <div class="errorLabel">{{error}}</div>
}
@if(loading)
{
    <div style="margin-left: 200px;">
        <div fxLayout="row" fxLayoutAlign="space-around center" style="height:100%;">
            <mat-spinner diameter="70" strokeWidth="5"></mat-spinner>
       </div>
       <div>loading</div> 
    </div>
}
@if(error == "" && !loading)
{
    <button  style="float:left;" class="btn btn-light" type="button" (click)="addCourse()"><i class="bi bi-plus"></i> Add Course</button>
    <div style="float:right;">  {{coursesCount}} courses found. </div>
    <br/><br/>
    <table class="table table-sm  table-hover  table-striped">
        <thead>
           <tr>
             <th class="p-2" style="text-align:right;">Id</th>
             <th class="p-2" style="text-align:center;">Name</th>
             <th class="p-2" style="text-align:center;">Code</th>
            </tr>
        </thead>
        <tbody>
            @for(course of courses;track course.id){
                <tr (click)="showCourseDetail(course.id)" class="cell-hoverCursor">      
                    <td style="text-align:right;">{{course.id}}</td>        
                    <td style="text-align:center;">{{course.courseName}}</td> 
                    <td style="text-align:center;">{{course.courseCode}}</td>  
                </tr>       
            }
        </tbody>
    </table>
}


