<p class="text-center h5" >Teachers</p>
<div style="float:left;"><a routerLink="/createteacher"><i class="bi bi-plus"></i> Add Teacher</a></div>
<div style="float:right;">  {{teachersCount}} teachers found. </div>
<table class="table table-sm  table-hover" style="overflow:hidden; border-radius:5px;">
    <thead>
       <tr class="cell-hoverCursor">
         <th class="p-2" (click)="getTeachers('id')">Id</th>
         <th class="p-2" (click)="getTeachers('name')">Name</th>
         <th class="p-2" (click)="getTeachers('phone')">Phone</th>       
         <th class="p-2" (click)="getTeachers('email')">Email</th>       
        </tr>
    </thead>
    <tbody>
        @for(teacher of teachers; track teacher.id){  
            <tr  (click)="showTeacherDetail(teacher.id)" class="cell-hoverCursor" >      
                <td>{{teacher.id}}</td>        
                <td>{{teacher.lastName}} {{teacher.firstName}}</td>      
                <td>{{teacher.phone}}</td>
                <td>{{teacher.email}}</td>
            </tr>  
        } 
    </tbody>
</table>
