<p class="text-center h5" >Teachers</p>
@if(error != "")
{
    <div class="errorLabel">{{error}}</div>
}
@if(loading)
{
  <div style="margin-left: 200px;">
    <div fxLayout="row" fxLayoutAlign="space-around center" style="height:100%;">
            <mat-spinner diameter="70" strokeWidth="5"></mat-spinner>
    </div>
    <div>loading</div> 
  </div>
}
@if(error == "" && !loading)
{
  <div style="float:left;"><a routerLink="/createteacher"><i class="bi bi-plus"></i> Add Teacher</a></div>
  <div style="float:right;">  {{teachersCount}} teachers found. </div>
  <table class="table table-sm  table-hover" style="overflow:hidden; border-radius:5px;">
    <thead>
      <tr class="cell-hoverCursor">
        <th class="p-2" style="width: 12%;" (click)="getTeachers('id')">Id  &nbsp;  @if(sortId) {@if(sortDirection == "asc"){<i class="bi bi-arrow-down"></i>}@else{<i class="bi bi-arrow-up"></i>}}</th>
        <th class="p-2" style="width: 22%;" (click)="getTeachers('name')">Name &nbsp; @if(sortName) {@if(sortDirection == "asc"){<i class="bi bi-arrow-down"></i>}@else{<i class="bi bi-arrow-up"></i>}}</th>
        <th class="p-2" style="width: 22%;" (click)="getTeachers('dateofbirth')">dateOfBirth &nbsp; @if(sortDateOfBirth) {@if(sortDirection == "asc"){<i class="bi bi-arrow-down"></i>}@else{<i class="bi bi-arrow-up"></i>}}</th>
        <th class="p-2" style="width: 22%;" (click)="getTeachers('phone')">Phone &nbsp; @if(sortPhone) {@if(sortDirection == "asc"){<i class="bi bi-arrow-down"></i>}@else{<i class="bi bi-arrow-up"></i>}}</th>       
        <th class="p-2" style="width: 22%;" (click)="getTeachers('email')">Email &nbsp; @if(sortEmail) {@if(sortDirection == "asc"){<i class="bi bi-arrow-down"></i>}@else{<i class="bi bi-arrow-up"></i>}}</th>       
      </tr>
    </thead>
    <tbody>
      @for(teacher of teachers; track teacher.id){  
        <tr  (click)="showTeacherDetail(teacher.id)" class="cell-hoverCursor" >      
          <td>{{teacher.id}}</td>        
          <td>{{teacher.lastName}} {{teacher.firstName}}</td>   
          <td>{{teacher.dateOfBirth | date: 'dd/MM/yyyy'}}</td>   
          <td>{{teacher.phone}}</td>
          <td>{{teacher.email}}</td>
        </tr>  
      } 
    </tbody>
  </table>
}

