.settingitem{
    height: 90px ;
    width: 250px; 
    border: 1px;
    border-style: solid; 
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 2px; 
    background-color:white;
    color: rgb(66, 64, 64);
    font-size: 15px;
    margin-right: 10px;
}
.settingitem:hover {
    border-color: #680cd1; 
    border-width: 3px;
    cursor: pointer;
}