<p class="text-center h5" >Classes</p>
<p>
  <Select class="form-select" aria-label="class">
    <option value="">Please choose a school</option>
    <option value="1">Greenwood High School</option>
    <option value="2">Riverdale Academy</option>
  </Select>
</p>
<p>
  <Select class="form-select" aria-label="class">
    <option value="">Please choose a department</option>
    <option value="1">Mathematics Department</option>
    <option value="2">Science Department</option>
  </Select>
</p>
<table class="table table-sm  table-hover  table-striped">
    <thead>
        <tr>
            <th class="p-2">Id</th>
            <th class="p-2">Name</th>
            <th class="p-2">SchoolId</th>
            <th class="p-2">DepartmentId</th>
            <th class="p-2">CreatedAt</th>
        </tr>
    </thead>
    <tbody>
        @for(class of classes;track class.id){
            <tr class="cell-hoverCursor">      
                <td >{{class.id}}</td>
                <td >{{class.name}}</td>
                <td >{{class.schoolId}}</td>
                <td >{{class.departmentId}}</td>
                <td >{{class.createdAt | date: 'dd/MM/yyyy'}}</td>
            </tr>       
        }
    </tbody>
</table>
