<br>
<h6 style="background-color: #779;color:white;padding-left: 20px;">Preparations for exam 14 june 2025</h6>
<div>
    <div style="float: left;width: 100px;">{{ studyDate | date :'EEEE'}}</div><div style="float: left;">{{ studyDate | date :'dd/MM/yyyy'}}</div>
    <br/><br/>
    <button (click)="showPrevious()"><i class="bi bi-arrow-left"></i></button>
    <button (click)="showCurrent()" style="margin-left: 20px;">Current day</button>
    <button (click)="showNext()" style="margin-left: 20px;"><i class="bi bi-arrow-right"></i></button>
</div>
<br/>

<div style="background-color: red;color:white; padding-left: 20px;">{{errors}}</div>

@if(loading)
{
    <div style="margin-left: 200px;">
        <div fxLayout="row" fxLayoutAlign="space-around center" style="height:100%;">
            <mat-spinner diameter="70" strokeWidth="5"></mat-spinner>
       </div>
       <div>loading</div> 
    </div>
}
@if(studyplanDetailsCount > 0)
{
    <table class="table table-sm">
        <tbody>
            @for(studyplandetail of studyplansDetails; track studyplandetail.id) {
                <tr>
                    <td>{{studyplandetail.start | date: 'dd/MM'}}</td>
                    <td>{{studyplandetail.start | date:'shortTime'}} to {{studyplandetail.end | date:'shortTime'}}</td>
                    <td>{{studyplandetail.goalDescription}}</td>
                </tr>
            }
        </tbody>
    </table>
}
@if(studyplanDetailsCount == 0){
    <h6>No studyplan items found for {{ studyDate | date :'dd/MM/yyyy'}} </h6>
}






