<p class="text-center h5" >{{pageTitle}}</p>
@if(errorMessage != '')
{
  <div  class="text-danger text-center">
    {{errorMessage}}
  </div>
}
@else {
  <form (ngSubmit)="onSubmit()"  #teacherForm="ngForm" class="border rounded p-4 w-50 mb-5 mx-auto">

    <div class="formHeader">
      @if(formAction == 'detail')
      {
        <button class="btn btn-primary headerButton" type="button" (click)="navigateBack()">Go Back</button>
        <button class="btn btn-secondary headerButton" type="button" (click)="updateClick()">Update</button>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button>
      }
      @else {
        <button class="btn btn-success headerButton" type="submit" [disabled]="teacherForm.invalid">Save</button>
        <button class="btn btn-warning"  type="button" (click)="navigateBack()">Cancel</button>
      }
   </div>
   <br />
    <div class="mb-3">
        <label class="form-label">Firstname *</label>
        <input required #firstName="ngModel" [disabled]=disableControls class="form-control"   type="text" name="firstName"  [(ngModel)]="teacher.firstName" />
        @if((firstName.invalid &&(firstName.touched || firstName.dirty)) && firstName.errors?.['required'])
        {
          <div class="text-danger">First Name is required</div>
        }
    </div>
    <div class="mb-3">
        <label class="form-label">Lastname *</label>
        <input required #lastName="ngModel" [disabled]=disableControls class="form-control" type="text" name="lastName"  [(ngModel)]="teacher.lastName" />
        @if((lastName.invalid &&(lastName.touched || lastName.dirty)) && lastName.errors?.['required'])
        {
          <div class="text-danger" *ngIf="lastName.errors?.['required']">Last Name is required</div>
        }
    </div>
    <div class="mb-3">
        <label class="form-label">Gender</label>
        <select  class="form-control" name="gender" [(ngModel)]="teacher.gender" [disabled]=disableControls>  
             <option value="">Select Gender</option>
             <option [ngValue]="gender.Id"  *ngFor="let gender of genderData">
                  {{gender.Name}}
             </option>    
         </select> 
    </div>
    <div class="mb-3">
        <label class="form-label">Date of birth *</label>
        @if(formAction  == 'detail')
        {
          <label class="form-control">{{teacher.dateOfBirth | date: 'dd/MM/yyyy'}}</label>
        }
        @else {
          <input required #dateOfBirth="ngModel" [disabled]=disableControls class="form-control" type="text" name="dateOfBirth"  [(ngModel)]="teacher.dateOfBirth" />
             @if((dateOfBirth.invalid &&(dateOfBirth.touched || dateOfBirth.dirty) && dateOfBirth.errors?.['required']))
             {
              <div class="text-danger">Date of birth is required</div>
             }
        }
    </div>
    <div class="mb-3">
        <label  class="form-label">ZipCode *</label> <!--  to do ZIPCODE MOET 4 LANG ZIJN anders ERROR !!!   -->
        <input required #zipcode="ngModel" [disabled]=disableControls class="form-control" type="text" name="zipcode"   [(ngModel)]="teacher.zipcode"/>
        @if((lastName.invalid &&(zipcode.touched || zipcode.dirty)) && zipcode.errors?.['required'])
        {
          <div class="text-danger">Zipcode is required</div>
        }
    </div>  
    <div class="mb-3">
      <label  class="form-label">Street and number</label>
      <input  #streetAndNumber="ngModel" [disabled]=disableControls class="form-control" type="text" name="streetAndNumber"  [(ngModel)]="teacher.streetAndNumber" />
    </div>  
    <div class="mb-3">
        <label  class="form-label">Phone *</label>
        <input required #phone="ngModel" [disabled]=disableControls class="form-control" type="phone" name="phone"  [(ngModel)]="teacher.phone" />
        @if((phone.invalid &&(phone.touched || phone.dirty)) && phone.errors?.['required'])
        {
          <div class="text-danger">Phone is required</div>
        }
   </div>
   <div class="mb-3">
        <label class="form-label">Email *</label>
        <input required email #email="ngModel" [disabled]=disableControls class="form-control" type="email" name="email"  [(ngModel)]="teacher.email" />
        @if(email.invalid &&(email.touched || email.dirty))
        {
          @if(email.errors?.['required'])
          {
            <div class="text-danger">Email is required</div>
          }
          @if(email.errors?.['email'])
          {
            <div class="text-danger">Email is invalid</div>
          }
        }
   </div>
   <div class="mb-3">
    <label class="form-label">Hiredate *</label>
    @if(formAction  == 'detail')
    {
      <label class="form-control">{{teacher.hireDate | date: 'dd/MM/yyyy'}}</label>
    }
    @else {
      <input required #hireDate="ngModel" [disabled]=disableControls class="form-control" type="text" name="hireDate"  [(ngModel)]="teacher.hireDate" />
      @if((hireDate.invalid &&(hireDate.touched || hireDate.dirty)) && hireDate.errors?.['required'])
      {
        <div class="text-danger">Hiredate is required</div>
      }
    }
</div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Delete</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure that you want delete teacher {{teacher.lastName}} ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteClick()">Yes</button>
        </div>
      </div>
    </div>
  </div>
  </form>
}



