<p class="text-center h5" >{{pageTitle}}</p>
<div  class="text-danger text-center"  *ngIf="errorMessage != ''">
    {{errorMessage}}
</div>

<form *ngIf="errorMessage === ''"  (ngSubmit)="onSubmit()"  #teacherForm="ngForm" class="border rounded p-4 w-50 mb-5 mx-auto">

    <div class="formHeader">
        <button class="btn btn-primary" style="margin-right: 6px;" *ngIf="formAction == 'detail'"  type="button" (click)="navigateBack()">Go Back</button>
        <button class="btn btn-secondary" style="margin-right: 6px;" *ngIf="formAction == 'detail'"  type="button" (click)="updateClick()">Update</button>
        <button type="button" class="btn btn-danger"  *ngIf="formAction == 'detail'" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Delete
        </button>
        <button class="btn btn-success" style="margin-right: 6px;" *ngIf="formAction != 'detail'" type="submit" [disabled]="teacherForm.invalid">Save</button>
        <button class="btn btn-warning"  *ngIf="formAction != 'detail'"  type="button" (click)="navigateBack()">Cancel</button>
   </div>
   <br />
    <div class="mb-3">
        <label class="form-label">Firstname *</label>
        <input required #firstName="ngModel" [disabled]=disableControls class="form-control"   type="text" name="firstName"  [(ngModel)]="teacher.firstName" />

        <div *ngIf="firstName.invalid &&(firstName.touched || firstName.dirty)">
            <div class="text-danger" *ngIf="firstName.errors?.['required']">First Name is required</div>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Lastname *</label>
        <input required #lastName="ngModel" [disabled]=disableControls class="form-control" type="text" name="lastName"  [(ngModel)]="teacher.lastName" />
        <div *ngIf="lastName.invalid &&(lastName.touched || lastName.dirty)">
            <div class="text-danger" *ngIf="lastName.errors?.['required']">Last Name is required</div>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Gender</label>
        <select  class="form-control" name="gender" [(ngModel)]="teacher.gender" [disabled]=disableControls>  
             <option value="">Select Gender</option>
             <option [ngValue]="gender.Id"  *ngFor="let gender of genderData">
                  {{gender.Name}}
             </option>    
         </select> 
    </div>
    <div class="mb-3">
        <label class="form-label">Date of birth</label>
        <div *ngIf="formAction  == 'detail'; else dateOfBirthEdit ">
             <label class="form-control">{{teacher.dateOfBirth | date: 'dd/MM/yyyy'}}</label>
        </div>
        <ng-template #dateOfBirthEdit>
             <input required #dateOfBirth="ngModel" [disabled]=disableControls class="form-control" type="text" name="dateOfBirth"  [(ngModel)]="teacher.dateOfBirth" />
             <div *ngIf="dateOfBirth.invalid &&(dateOfBirth.touched || dateOfBirth.dirty)">
                  <div class="text-danger" *ngIf="dateOfBirth.errors?.['required']">Date of birth is required</div>
             </div>
        </ng-template>
    </div>
    <div class="mb-3">
        <label  class="form-label">ZipCode</label> <!--  to do ZIPCODE MOET 4 LANG ZIJN anders ERROR !!!   -->
        <input required #zipcode="ngModel" [disabled]=disableControls class="form-control" type="text" name="zipcode"   [(ngModel)]="teacher.zipcode"/>
        <div *ngIf="lastName.invalid &&(zipcode.touched || zipcode.dirty)">
             <div class="text-danger" *ngIf="zipcode.errors?.['required']">Zipcode is required</div>
        </div>
      </div>  
      <div class="mb-3">
        <label  class="form-label">Street and number</label>
        <input  #streetAndNumber="ngModel" [disabled]=disableControls class="form-control" type="text" name="streetAndNumber"  [(ngModel)]="teacher.streetAndNumber" />
      </div>  
    <div class="mb-3">
        <label  class="form-label">Phone</label>
        <input required #phone="ngModel" [disabled]=disableControls class="form-control" type="phone" name="phone"  [(ngModel)]="teacher.phone" />
        <div *ngIf="phone.invalid &&(phone.touched || phone.dirty)">
            <div class="text-danger" *ngIf="phone.errors?.['required']">Phone is required</div>
        </div>
   </div>
   <div class="mb-3">
        <label class="form-label">Email</label>
        <input required email #email="ngModel" [disabled]=disableControls class="form-control" type="email" name="email"  [(ngModel)]="teacher.email" />

        <div *ngIf="email.invalid &&(email.touched || email.dirty)">
            <div class="text-danger" *ngIf="email.errors?.['required']">Email is required</div>
            <div class="text-danger" *ngIf="email.errors?.['email']">Email is invalid</div>
        </div>
   </div>
   <div class="mb-3">
    <label class="form-label">Hiredate</label>
    <div *ngIf="formAction  == 'detail'; else hireDateEdit ">
         <label class="form-control">{{teacher.hireDate | date: 'dd/MM/yyyy'}}</label>
    </div>
    <ng-template #hireDateEdit>
         <input required #hireDate="ngModel" [disabled]=disableControls class="form-control" type="text" name="hireDate"  [(ngModel)]="teacher.hireDate" />
         <div *ngIf="hireDate.invalid &&(hireDate.touched || hireDate.dirty)">
              <div class="text-danger" *ngIf="hireDate.errors?.['required']">Hiredate is required</div>
         </div>
    </ng-template>
</div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Delete</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure that you want delete teacher {{teacher.lastName}} ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteClick()">Yes</button>
        </div>
      </div>
    </div>
  </div>
  
</form>