<p class="text-center h5" >Student-presence</p>
<p>
  <Select>
    <option value="">Please choose an class</option>
    <option value="1">Class1</option>
    <option value="2">Class2</option>
  </Select>
</p>


<table class="table table-sm" style="width: 100%;">
    <thead>
        <th class="p-2">StudentName</th>
        <th class="p-2">Presence</th>
        <th class="p-2">Absense reason</th>
        <th class="p-2">Comment</th>
    </thead>
    <tbody>
      @for(item of items; track item.id){
        <tr>
           <td style="width: 20%;">{{item.studentName}}</td> 
           <td><input type="checkbox" name="presence" value="false"></td> 
           <td>
               <Select>
                   <option value="">Please choose an option</option>
                   <option value="sick">Sick</option>
                   <option value="legally absent">legally absent</option>
               </Select>
           </td>
           <td style="width: 40%;"><input type="text" style="width: 100%;"></td>
        </tr>
      }  
    </tbody>
 </table>


