<p class="text-center h5" >{{pageTitle}}</p>
@if(errorMessage != ''){
    <div  class="text-danger text-center">
        {{errorMessage}}
    </div>
}
@else {
    <form (ngSubmit)="onSubmit()"   #examForm="ngForm" class="border rounded p-4 w-90 mb-5 mx-auto">

        <div class="formHeader">
           @if(formAction == 'detail')
           {
            <button class="btn btn-light headerButton" type="button" (click)="navigateBack()">Go Back</button>
            <button class="btn btn-light headerButton" type="button" (click)="updateClick()">Update</button>
            <button class="btn btn-light" style="color:red" type="button" (click)="deleteClick()">Delete</button>
           }
           @else {
            <button class="btn btn-success headerButton" type="submit" [disabled]="examForm.invalid">Save</button>
            <button class="btn btn-warning"  type="button" (click)="navigateBack()">Cancel</button>
           }
       </div>
       <br/>
        <div class="container">
            <div class="row" style="margin-top: 5px;">
              <div class="col-2">
                   <label class="form-label" style="float:right">ExamName *</label>  
              </div>
              <div class="col-10">
                <input required #examName="ngModel" [disabled]=disableControls class="form-control"   type="text" name="ExamName"  [(ngModel)]="exam.examTitle" />
                @if((examName.invalid &&(examName.touched || examName.dirty)) && examName.errors?.['required'])
                {
                  <div class="text-danger">ExamName is required</div>
                }
              </div>   
            </div>
             <div class="row" style="margin-top: 5px;">
                <div class="col-2">
                    <label class="form-label" style="float:right">Date</label>  
                </div>
                <div class="col-10">
                    @if(formAction  == 'detail')
                    {
                        <label class="form-control" style="width:250px;">{{exam.examenDate | date: 'dd/MM/yyyy'}}</label>
                    }
                    @else {
                        <input #startDate="ngModel" style="width: 250px;" [disabled]=disableControls class="form-control"   type="text" name="Date"  [(ngModel)]="exam.examenDate" />
                    }    
                </div>   
            </div>
            <div class="row" style="margin-top: 5px;">
              <div class="col-2">
                  <label class="form-label" style="float:right">Start</label>   
              </div>
              <div class="col-10">
                  <input [disabled]=disableControls class="form-control" type="time" name="Start"  style="width: 150px;"  />  
              </div>   
            </div>
            <div class="row" style="margin-top: 5px;">
              <div class="col-2">
                  <label class="form-label" style="float:right">End</label>  
              </div>
              <div class="col-10">
                  <input [disabled]=disableControls class="form-control" type="time" name="End" style="width: 150px;"  />  
              </div>   
            </div>
            <div class="row" style="margin-top: 5px;">
              <div class="col-2">
                  <label class="form-label" style="float:right">Description</label>  
              </div>
              <div class="col-10">
                  <textarea rows="5" #description="ngModel" [disabled]=disableControls class="form-control"   type="text" name="description"  [(ngModel)]="exam.description" >
                  </textarea>  
              </div>   
            </div>
        </div> 

    </form>
}



