.dashboarditemStyle{
    height:5.0rem ;
    width: 21rem;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    padding-top:0.7rem;
    padding-left:0.7rem;
    border-left: 0.5rem solid rgb(43, 226, 186)  ;
}
.itemName{
    font-size: 1.1rem;
    font-weight: 500;
    color:rgb(15, 15, 15);
}
.itemCount{
    margin-left: 1.5rem;
}
.dashboarditemStyle:hover{
    cursor: pointer;
}

.dashboarditemStyle:hover .labelMoreInfo{
    background-color: rgb(43, 86, 226);
}


