.dashboarditemStyle{
    height:130px ;
    width:300px;
    border-radius: 6px;
    box-shadow: 0 1px 6px black;
    margin-top: 25px;
    padding-top:10px;
    padding-left:10px;
}
.itemName{
    font-size: 19px;
    font-weight: 500;
    color:white;
}
.itemCount{
    margin-left: 20px;
}
.buttonMoreInfo
{
    margin-top: 60px;
    color:white;
    background-color: rgb(71, 68, 68)
}


