.dashboarditemStyle{
    height:5.0rem ;
    width: 21rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 4px rgb(18, 128, 179);
    margin-top: 1.5rem;
    padding-top:0.7rem;
    padding-left:0.7rem;
}
.itemName{
    font-size: 1.1rem;
    font-weight: 500;
    color:rgb(15, 15, 15);
}
.itemCount{
    margin-left: 1.5rem;
}
.labelMoreInfo
{
    margin-top: 0.5rem;
    padding-left: 0.3rem;
    padding-right: 0.4rem;
    padding-top: 0.2rem;
    padding-bottom: 0.1rem;
    color:white;
    background-color: rgb(12, 85, 153)
}
.dashboarditemStyle:hover{
    cursor: pointer;
}

.dashboarditemStyle:hover .labelMoreInfo{
    background-color: rgb(43, 86, 226);
}


