<p class="text-center h5" >Students</p>
<input type="text" (keyup.enter)= "getStudents()" [(ngModel)]="searchName" placeholder="Student name" style="float:left;width: 300px;padding-left: 5px;">
<button  style="float:left; margin-left: 15px;height: 30px; "  type="button" (click)="getStudents()"><i class="bi bi-search"></i>Search</button>
<button  style="float:left; margin-left: 15px;height: 30px; "  type="button" (click)="clearSearch()"><i class="bi bi-x-lg"></i></button>
<br/><br/><br/>
<div style="float:left;"><a routerLink="/createstudent"><i class="bi bi-plus"></i> Add Student</a></div>
  @if(error != "")
  {
    <br/><br/><br/>  
    <div class="errorLabel">{{error}}</div>
  }
  @if(loading)
  {
    <br/><br/><br/> 
    <div style="margin-left: 200px;">
      <div fxLayout="row" fxLayoutAlign="space-around center" style="height:100%;">
        <mat-spinner diameter="70" strokeWidth="5"></mat-spinner>
      </div>
      <div>loading</div> 
    </div>
  }
  @if(error == "" && !loading)
  {
    @if(studentsCount > 0){
      <div style="float:right;">  {{studentsCount}} students found. </div>
      <br/>
      <table class="table table-sm table-hover">
        <thead>
           <tr>
             <th class="p-2">Id</th>
             <th class="p-2">Name</th>
             <th class="p-2">Phone</th>       
             <th class="p-2">Email</th>       
          </tr>
        </thead>
        <tbody>
            @for(student of students; track student.id){
              <tr (click)="showStudentDetail(student.id)" class="cell-hoverCursor">   
                <td>{{student.id}}</td>        
                <td>{{student.lastName}} {{student.firstName}}</td>  
                <td>{{student.phone}}</td>
                <td>{{student.email}}</td>
              </tr>
            }
        </tbody>
      </table>
    }
   @if(studentsCount == 0) {
      <br/><br/><br/>
      <p style="font-size: 16px;color:white;background-color: #555599;border-radius: 7px;text-align: center;">No Students found with name like '{{searchName}}'.</p>
    }
}


 
 
  







