th {
    color: rgb(0, 5, 8);
    background-color:rgb(238, 243, 252); 
}
.gridheader:hover{
    background-color: rgb(220, 230, 240);
    cursor: pointer;
}
.paginationSelected{
    background-color: rgb(210, 210, 210);
}
.paginationNotSelected{
    background-color: rgb(244, 247, 250);
    color:black;
}
.page-link{
    color: rgb(0, 5, 8);
}
.page-link:hover{
    background-color: rgb(220, 220, 220);
    cursor: pointer;
}





       

     

        
      
        
   

     
           
        

