<p class="text-center h5" >Students</p>
<a routerLink="/createstudent">Create Student</a>
<table class="table table-sm table-hover">
    <thead>
       <tr>
         <th class="text-bg-secondary p-2">Id</th>
         <th class="text-bg-secondary p-2">Name</th>
         <th class="text-bg-secondary p-2">Phone</th>       
         <th class="text-bg-secondary p-2">Email</th>       
         <th class="text-bg-secondary p-2"></th>       
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students"  (click)="showStudentDetail(student.id)" >      
            <td >{{student.id}}</td>        
            <td>{{student.lastName}} {{student.firstName}}</td>      
            <td>{{student.phone}}</td>
            <td>{{student.email}}</td>
            <td>
                <button class="btn btn-primary btn-sm  m-1" (click)="updateStudent(student.id)">Update</button>
                <button class="btn btn-danger  btn-sm m-1"  (click)="deleteStudent(student.id)">Delete</button>
            </td>
          </tr>       
    </tbody>
</table>







