th {
    color: rgb(0, 5, 8);
    background-color:rgb(238, 243, 252); 
}
.gridheader:hover{
    background-color: rgb(220, 230, 240);
    cursor: pointer;
}
.paginationSelected{
    background-color: rgb(99, 99, 99);
    color:rgb(243, 238, 238);
}
.paginationNotSelected{
    background-color: rgb(244, 247, 250);
    color:black;
}




       

     

        
      
        
   

     
           
        

