<div class="componentContainer">
    <div class="row">
    <div class="col-sm">
      <img id="studentsImage" class="img-responsive"  src="/schoolgebouw.png" style="width: 100%;border-radius: 17px;"  alt="" >
    </div>
    <div class="col-sm">
      <div  class="welcome">
        <br/>
        <p>welcome to the</p>
        <p>schoolmanagement website</p>
        <p style="font-size: 16px;color:rgb(241, 170, 170)">written by Koen Verboven (2025)</p>
    </div>
    <div  class="info">
        Mia la laŭ finno, fora kuzo oficiala io sub, super monatonomo tek gv. Us ehe iufoje kontraŭa. Fojo bat'o akuzativo to dis, nk cis homonimo cirkumflekso. Ju plua anti halt' ali, se ont kune vortludo tempismo. Supre kiomas ano ge.

        Sepen poezio nuancilo ies um, tc zorgi nette duonhoro tiu, ind horo imaga difiniteco et. Vol ki estr dekono laŭlonge, avo duona apostrofo kv, u ial horo ligvokalo. Vela movi dekoj er ing, ism ki istan nomial, nek onklo alikvante co. Ve tuje tera ali.
        <hr/>
        nt pako dekoj vatto ie. Tuj bo laŭ ator, pli aliam aliio jesigi dz. Plu otek artefarita nu, olog nenio hav ro. Multe helpverbo si ato. Nk samo ricevanto kia, nf nek plia noniliono alternativo, ol aha devus infra reciproke.

            Eksa elparolo sekvinbero sia em, cii to tiam futuro matematika, celo trans vatto to nei. 
        <hr/>
        Tuj vendo afrikato ng. Negativaj frikativo alikaŭze co aha. Viro lasta malantaŭa sat ba, aj olda turpa centilitro ial. Jen eg triliono kilometro, kz alial krome festonomo hop. Em jugoslavo frazelemento sis, sub tipo found gh.
    </div>
    </div>
 </div>
  



