
#studentsImage{
    margin-top: 10px;
    width: 100%;
}
.welcome{
    margin-top : 10px;
    font-size: 30px;
    color:rgb(39, 163, 221);
    background: linear-gradient(to bottom, #106d85 0%, #28117c 100%);
    padding: 12px;
    border-radius: 8px;
    width: 100%;
}
.info{
    margin-top : 10px;
    font-size: 16px;
    color:black;
    background: white;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    width: 100%;
}
