
#studentsImage{
    margin-top: 2px;
    width: 100%;
}
.welcome{
    margin-top : 5px;
    color:rgb(6, 60, 85);
    background: linear-gradient(to bottom, rgb(226, 175, 152) 0%, rgb(223, 236, 107) 100%);
    padding-left: 11px;
    padding-bottom: 5px;
    border-radius: 8px;
    border-width: 1px;
    border-color: blue;
    width: 100%;
}
.info{
    margin-top : 10px;
    font-size: 16px;
    color:black;
    background: white;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    width: 100%;
}
