<div class="componentContainer">
    <div class="row">
    <div class="col-sm">
      <img id="studentsImage" class="img-responsive"  src="/laptop.jpg" style="width: 100%;border-radius: 17px;"  alt="" >
    </div>
    <div class="col-sm">
      <div  class="welcome">
        <br/>
        <p style="font-size: 27px;">Welcome</p>
        <p style="font-size: 16px;color:rgb(36, 35, 35);">Date : {{today | date :'dd/MM/yyyy'}}</p>
        <p>Version : 0.0.5</p>
    </div>
    <div  class="info">
      <div style="font-size: 20px;font-weight: bold;color: rgb(211, 14, 14);">About this application</div>
      <hr/>
      <div  style="font-size: 16px;font-weight: bold;color:rgb(12, 160, 88);">Description</div>
      <div>
          Welcome to the School Management Application. This application is designed to help manage various aspects of school administration,
          including student- , studentpresent-, teacher-, exams- and courses information. Whether you are a student, teacher, administrator, or parent,
          this application provides the tools you need to efficiently manage school operations. 
      </div>
      <hr/>
      <div  style="font-size: 16px;font-weight: bold;color:rgb(12, 160, 88);">Technology Stack</div>
        The application is built using Angular for the front end and ASP.NET Core for the back end, ensuring a robust and scalable solution.
      <hr/>
      <div  style="font-size: 16px;font-weight: bold;color: rgb(12, 160, 88);"> Support</div>
        Please use the navigation menu to access different sections of the application. If you have any questions or need assistance, 
        feel free to reach out to the support team.
    </div>
    </div>
 </div>
  



