@if(errorMessage != '')
{
    <div  class="text-danger text-center">
        {{errorMessage}}
    </div>
}
@else {
    <form (ngSubmit)="onSubmit()"   #courseForm="ngForm" class="formClass">
        <div class="pageTitle" >
           {{pageTitle}}
        </div>
        <div class="buttonBar" style="margin-top: 10px;">
            @if(formAction == 'add')
            {
                <button class="btn btn-success headerButton" type="submit" [disabled]="courseForm.invalid">Add</button>
                <button class="btn btn-warning"  type="button" (click)="navigateBack()">Cancel</button>
            }
           @if(formAction == 'detail')
           {
                <button class="btn btn-light headerButton" type="button" (click)="navigateBack()">Go Back</button>
                <button class="btn btn-light headerButton" type="button" (click)="updateClick()">Update</button>
                <button class="btn btn-light"  style="color:red" type="button" (click)="deleteClick()">Delete</button>
                }
            @else 
            {
                <button class="btn btn-success headerButton" type="submit" [disabled]="courseForm.invalid">Save</button>
                <button class="btn btn-warning"  type="button" (click)="navigateBack()">Cancel</button>
            }
        </div>
        <div class="container">

            <div class="row" style="margin-top: 5px;">
                <div class="col-2">
                    <label class="form-label" style="float:right">CourseName *</label>
                </div>
                <div class="col-10">
                    <input required  maxlength="30" #courseName="ngModel" [disabled]=disableControls class="form-control"   type="text" name="courseName"  [(ngModel)]="course.courseName" />
                    @if((courseName.invalid &&(courseName.touched || courseName.dirty)) && courseName.errors?.['required'])
                    {
                        <div class="text-danger">CourseName is required</div>
                    }    
                </div>   
            </div>
            <div class="row" style="margin-top: 5px;">
                <div class="col-2">
                    <label class="form-label" style="float:right">CourseCode *</label>
                </div>
                <div class="col-10">
                     <input required maxlength="5" #courseCode="ngModel" [disabled]=disableControls class="form-control" type="text" name="lastName"  [(ngModel)]="course.courseCode" />
                    @if((courseCode.invalid &&(courseCode.touched || courseCode.dirty)) && courseCode.errors?.['required'])
                    {
                        <div class="text-danger">CourseCode is required</div>
                    }   
                </div>  
            </div>
            <div class="row" style="margin-top: 5px;">
                <div class="col-2">
                   <label class="form-label" style="float:right">Cost Price</label>
                </div>
                <div class="col-10">
                    <input  #courseCode="ngModel" [disabled]=disableControls class="form-control" type="text" name="costPrice"  [(ngModel)]="course.coursePrice" />   
                </div>   
            </div> 
            <div class="row" style="margin-top: 5px;">
                <div class="col-2">
                    <label class="form-label" style="float:right">CourseDescription *</label>
                </div>
                <div class="col-10">
                    <textarea rows="5"  maxlength="400" #courseDescription="ngModel" [disabled]=disableControls class="form-control" type="text" name="CourseDescription"  [(ngModel)]="course.courseDescription" >
                    </textarea>    
                </div>   
            </div>
   

        </div>
    </form>
}


