<p class="text-center h5" >{{pageTitle}}</p>
<div  class="text-danger text-center"  *ngIf="errorMessage != ''">
    {{errorMessage}}
</div>

<form *ngIf="errorMessage === ''" (ngSubmit)="onSubmit()"   #courseForm="ngForm" class="border rounded p-4 w-50 mb-5 mx-auto">

    <div style="background-color: rgb(156, 149, 15);padding:4px;border-radius: 4px; ">
        <button class="btn btn-primary" style="margin-right: 6px;" *ngIf="formAction == 'detail'"  type="button" (click)="navigateBack()">Go Back</button>
        <button class="btn btn-secondary" style="margin-right: 6px;" *ngIf="formAction == 'detail'"  type="button" (click)="updateClick()">Update</button>
        <button class="btn btn-danger" *ngIf="formAction == 'detail'"  type="button" (click)="deleteClick()">Delete</button>
        <button class="btn btn-success" style="margin-right: 6px;" *ngIf="formAction != 'detail'" type="submit" [disabled]="courseForm.invalid">Save</button>
        <button class="btn btn-warning"  *ngIf="formAction != 'detail'"  type="button" (click)="navigateBack()">Cancel</button>
   </div>
    
    <br/>
    <div class="mb-3">
        <label class="form-label">CourseName *</label>
        <input required #courseName="ngModel" [disabled]=disableControls class="form-control"   type="text" name="courseName"  [(ngModel)]="course.courseName" />

        <div *ngIf="courseName.invalid &&(courseName.touched || courseName.dirty)">
            <div class="text-danger" *ngIf="courseName.errors?.['required']">CourseName is required</div>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">CourseCode *</label>
        <input required #courseCode="ngModel" [disabled]=disableControls class="form-control" type="text" name="lastName"  [(ngModel)]="course.courseCode" />
        <div *ngIf="courseCode.invalid &&(courseCode.touched || courseCode.dirty)">
            <div class="text-danger" *ngIf="courseCode.errors?.['required']">CourseCode is required</div>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">CourseDescription *</label>
        <textarea rows="5" required #courseDescription="ngModel" [disabled]=disableControls class="form-control" type="text" name="CourseDescription"  [(ngModel)]="course.courseDescription" >
        </textarea>
    </div>
    
</form>